* {
    margin: 0;
    box-sizing: border-box;
    color: antiquewhite;
}
body{
    background-image: url(newchill.gif);
    background-repeat: no-repeat;
    background-size: cover;

}

.row { 
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    
    
}
.trial{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 75%;
}
.navColor{
    position: absolute;
    background-color: lightslategray;
    width: 100%;
    height: 5%;
    z-index: 1;
    opacity: 50%;
}
.side {
    position: relative;
    flex: 10%;
    padding: 20px;
    z-index: 3;
    background-image: url(sideBg.png);
    border-radius: 10%;
    
    text-align: center;
    
}

.side ul li{
    list-style-type:none;
    margin: 10px;
    
}

.main {
    flex: 50%;
    padding: 20px;
    z-index: 3;
    background-image: url(centerBG.png);
    border-radius: 10%;
}
.rightSide{
    flex: 30%;
    padding: 20px;
    z-index: 3;
    background-image: url(sideBg.png);
    border-radius: 10%;
    
    
}
.navbar{
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: end;
    z-index: 3;
    background-image: url(navBg.png);
}

.navbar ul li{
    list-style-type: none ;
    display: inline-block;
    margin: 5px 40px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    
    color: aliceblue;
}
.navbar ul li a:hover{
    color: aqua;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    opacity: 50%;
}
.profilePic{
    border-radius: 50%;
    aspect-ratio: 2/2;
    width: auto;
    left: 50%;
    z-index: 2;
    

}
@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}
.languageList{
    position: relative;
    padding: 0px;
    display: flex;
    justify-content: start;
}
#languages li{
    
    list-style-type: none ;
    display: inline-block;
    margin: 0px 10px;
    position: relative;
}
.icon{
    width: 50px;
    height: 50px;
    background-size: cover;
    
}
.side button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}
.side button:hover{
    background-color: blue;
}
#skillList li{
    list-style-type:square;
    display:inline-table;
    margin: 0px 10px;
}

.pictures{
    position: relative;
    aspect-ratio: 1/1;
    height: auto;
    background-size: cover;
}

.contentRow{
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
}
.PicSide{
    position: relative;
    flex: 5%;
    padding: 10px;
    
}
.DiscSide{
    position: relative;
    flex: 50%;
    padding: 10px;
    
}
.discription{
    padding-top: 25%;
    transform: translate(0, -50%);
}
.hobbydisc{
    padding-top: 0;
    transform: translate(0, -200%);
}
.githubStats{
    position: relative;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
}


